* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-inline: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #4D1354;
  color: #fff;
}
body a:not(.header-brand) {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
}
body p,
body h1,
body h2,
body h3 {
  cursor: pointer;
}

.header {
  max-widht: 1170px; /*(variavel criada em "_variables.sass")*/
  padding: 1.5rem 0;
  margin: 0 auto 2rem auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-brand {
  color: #fff;
  text-shadow: 2px 1px 3px #35093a;
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 2rem;
  transition: transform 0.2s;
}
@media (max-width: 800px) {
  .header-brand {
    margin-inline: auto;
  }
}
.header-brand:hover {
  transform: scale(1.05);
  color: #FEE64E;
}
@media (max-width: 800px) {
  .header-brand {
    padding: 0.5rem;
    margin-bottom: -30px;
  }
}
.header-navbar li {
  display: inline-flex;
  margin-right: 1rem;
  list-style: none;
}
.header-navbar li a {
  transition: 0.5s;
  position: relative;
}
.header-navbar li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #FEE64E;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header-navbar li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
@media (max-width: 800px) {
  .header-navbar {
    display: none;
  }
}
.header-social-media li {
  display: inline-flex;
  margin-right: 1rem;
  list-style: none;
}
@media (max-width: 800px) {
  .header-social-media li {
    display: none;
  }
}
.header-social-media li a {
  transition: 0.5s;
}
.header-social-media li a:hover {
  color: #FEE64E;
}

.active {
  border-bottom: 2px solid #a450ae;
}

.gallery {
  text-align: center;
  align-items: center;
  display: flex;
  max-widht: 1170px; /*(variavel criada em "_variables.sass")*/
  padding: 1.5rem 0;
  margin: 0 auto 2rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
@media (max-width: 800px) {
  .gallery {
    flex-direction: column;
  }
}
.gallery-card {
  width: 30%;
  height: 400px;
  margin-bottom: 4%;
  flex-direction: column;
  color: #fff;
}
@media (max-width: 800px) {
  .gallery-card {
    width: 90%;
    margin-bottom: 6%;
  }
}
.gallery-card-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  transform: translateY(250%);
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  letter-spacing: 3px;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
.gallery-card-btn:hover {
  background-color: #fff;
  color: #a450ae;
}

#card-1 {
  background-image: url("../img/img-bruna.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-1:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img-bruna.png");
}

#card-2 {
  background-image: url("../img/code.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-2:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/code.jpg");
}

#card-3 {
  background-image: url("../img/joia-vermelha.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-3:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/joia-vermelha.jpg");
}

#card-4 {
  background-image: url("../img/lemonesa.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-4:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/lemonesa.png");
}

#card-5 {
  background-image: url("../img/design.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-5:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/design.png");
}

#card-6 {
  background-image: url("../img/mulher.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.6s;
}
#card-6:hover {
  background-size: 110%;
  filter: grayscale(0%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/mulher.png");
}

footer {
  text-align: center;
  padding-bottom: 2rem;
}
footer span {
  font-weight: bold;
  color: #FEE64E;
}

.grid-Container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 35vh;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 5%;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 800px) {
  .grid-Container {
    margin-bottom: 15%;
  }
}
.grid-Container img {
  margin-bottom: 15px;
}

.grid-container-projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0 20px;
  height: 100vh;
}
.grid-container-projetos img {
  width: 100%;
  transition: 0.3s all ease;
  cursor: pointer;
}
.grid-container-projetos img:hover {
  transform: scale(0.9);
}
.grid-container-projetos p {
  margin-top: 1rem;
  color: #a450ae;
  cursor: default;
}
.grid-container-projetos .hover-projetos {
  padding: 10px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
  background-color: #fff;
  transition: 0.6s;
}
.grid-container-projetos .hover-projetos:hover {
  background-color: #FEE64E;
}
.grid-container-projetos .col1 {
  grid-column: 1/2;
}
.grid-container-projetos .col2 {
  grid-column: 2/3;
}
.grid-container-projetos .col3 {
  grid-column: 3/4;
}
.grid-container-projetos .subtitle {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  color: #4D1354;
  text-shadow: 0.5px 0.5px 3px #a450ae;
  cursor: default;
}
@media (max-width: 800px) {
  .grid-container-projetos {
    display: block;
    margin-top: 15%;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 30;
  left: 0;
  display: none;
  opacity: 0;
  transition: opacity 500ms;
  transform: none;
}
.modal.show {
  opacity: 100;
}
.modal .close {
  z-index: 110;
  position: absolute;
  color: #FEE64E;
  font-size: 2rem;
  left: 80%;
  top: 5%;
}
.modal .modalImg img {
  width: 50%;
  transform: none;
  position: absolute;
  top: 5%;
  left: 25%;
}
@media (max-width: 800px) {
  .modal .modalImg img {
    display: none;
  }
}
@media (max-width: 800px) {
  .modal {
    background-color: transparent;
    top: -14vh;
  }
}

.grid-container-fotos {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20%, 1fr;
  gap: 10px 20px;
}
@media (max-width: 800px) {
  .grid-container-fotos {
    display: block;
    margin: 5% auto;
  }
}
.grid-container-fotos h1 {
  margin-top: 20%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #FEE64E;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .grid-container-fotos h1 {
    font-size: 1.5rem;
  }
}
.grid-container-fotos #macro-span {
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  grid-column: 2/3;
  display: block;
}
.grid-container-fotos .container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.grid-container-fotos img {
  width: 100%;
  height: 100%;
  margin-bottom: 2vh;
  object-fit: cover;
}
.grid-container-fotos .row1 {
  grid-row: 1/2;
}
.grid-container-fotos .row2 {
  grid-row: 2/3;
}
.grid-container-fotos .row3 {
  grid-row: 3/4;
}
.grid-container-fotos .row4 {
  grid-row: 4/5;
}
.grid-container-fotos .row5 {
  grid-row: 5/6;
}
.grid-container-fotos .row6 {
  grid-row: 6/7;
}
.grid-container-fotos .col1 {
  grid-column: 2/3;
}
.grid-container-fotos .subtitle {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.5px 0.5px 3px #a450ae;
  margin-bottom: 2vh;
}

.carrossel {
  position: relative;
  margin-top: 4vh;
  overflow: hidden;
  height: 500px;
  width: 500px;
  box-shadow: 2px 2px 4px black;
  text-align: center;
}
@media (max-width: 800px) {
  .carrossel {
    width: 100%;
    height: 100%;
    display: block;
    margin: 10% auto;
  }
}
.carrossel button {
  display: inline-flex;
  margin: 1rem 1rem;
}
.carrossel .go {
  font-size: 3rem;
  color: rgba(254, 230, 78, 0.5);
  background-color: transparent;
  border-color: transparent;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 35vh;
  left: 420px;
}
@media (max-width: 800px) {
  .carrossel .go {
    font-size: 2rem;
    position: static;
  }
}
.carrossel .back {
  font-size: 3rem;
  color: rgba(254, 230, 78, 0.5);
  background-color: transparent;
  border-color: transparent;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 35vh;
  right: 420px;
}
@media (max-width: 800px) {
  .carrossel .back {
    font-size: 2rem;
    position: static;
  }
}

.col-2 {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  display: flex;
}
.col-2 img {
  width: 40%;
}
@media (max-width: 800px) {
  .col-2 img {
    margin-inline: auto;
  }
}

.grid-container-main {
  width: 100%;
  max-width: 90rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 6fr;
}
@media (max-width: 800px) {
  .grid-container-main {
    display: block;
  }
}
.grid-container-main .col-3 {
  grid-column: 1/4;
}
.grid-container-main .col-3 p {
  margin: 12px 0;
}
.grid-container-main .col-3 img {
  width: 40%;
  margin-bottom: 10vh;
}
.grid-container-main .col-3 h1 {
  color: #fff;
  text-shadow: 2px 1px 3px #35093a;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.grid-container-main .col-4 {
  grid-column: 5/6;
}
.grid-container-main .col-4 li {
  display: inline-flex;
  margin-right: 1rem;
  list-style: none;
  display: flex;
  margin-bottom: 2rem;
}
.grid-container-main .col-4 li a {
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  letter-spacing: 3px;
}
.grid-container-main .col-4 li a:hover {
  background-color: #fff;
  color: #a450ae;
}
@media (max-width: 800px) {
  .grid-container-main .col-4 li {
    display: block;
    margin-top: 15%;
  }
}
.grid-container-main .row-1 {
  grid-row: 2/3;
}
.grid-container-main .row-1 p {
  grid-row: 2/3;
}
.grid-container-main .sobre-tabela {
  margin-block: 4rem;
  grid-column: 1/4;
  grid-row: 3/4;
}
.grid-container-main .sobre-tabela h1 {
  margin-bottom: 1.5rem;
  color: #fff;
  text-shadow: 2px 1px 3px #35093a;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.grid-container-main .sobre-tabela table {
  border-collapse: collapse;
  text-align: center;
  max-width: 90px;
  width: 980px;
}
.grid-container-main .sobre-tabela table th {
  text-transform: uppercase;
  color: #FEE64E;
  letter-spacing: 1px;
  font-weight: 700;
}
.grid-container-main .sobre-tabela table th,
.grid-container-main .sobre-tabela table tr,
.grid-container-main .sobre-tabela table td {
  border: 2px solid black;
  background-color: rgba(164, 80, 174, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px 130px;
  cursor: default;
}
.grid-container-main .sobre-tabela table th button,
.grid-container-main .sobre-tabela table tr button,
.grid-container-main .sobre-tabela table td button {
  background-color: #FEE64E;
  color: #4D1354;
  cursor: pointer;
  transition: 0.5s;
  border-color: transparent;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 1rem 0;
}
.grid-container-main .sobre-tabela table th button:hover,
.grid-container-main .sobre-tabela table tr button:hover,
.grid-container-main .sobre-tabela table td button:hover {
  background-color: #4D1354;
  color: #FEE64E;
}
.grid-container-main .sobre-tabela table th a,
.grid-container-main .sobre-tabela table tr a,
.grid-container-main .sobre-tabela table td a {
  font-size: 2rem;
  transition: 0.5s;
}
.grid-container-main .sobre-tabela table th a:hover,
.grid-container-main .sobre-tabela table tr a:hover,
.grid-container-main .sobre-tabela table td a:hover {
  color: #FEE64E;
}
@media (max-width: 800px) {
  .grid-container-main .sobre-tabela table thead {
    display: none;
  }
  .grid-container-main .sobre-tabela table tbody .container-message {
    border-color: transparent;
    max-width: 90%;
    position: relative;
    margin: 30px;
  }
  .grid-container-main .sobre-tabela table tbody .container-message td {
    display: block;
    margin-bottom: 0.5rem;
  }
}
.grid-container-main .sobre-tabela table span {
  animation: blinker 0.5s ease-in-out;
}
@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.grid-container-main .tabela-mobile {
  display: none;
}
@media (max-width: 800px) {
  .grid-container-main .tabela-mobile {
    display: block;
    text-align: center;
  }
  .grid-container-main .tabela-mobile div {
    margin-bottom: 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2rem 20%;
  }
  .grid-container-main .tabela-mobile div h3 {
    text-transform: uppercase;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .grid-container-main .tabela-mobile div i {
    margin-top: 1rem;
  }
  .grid-container-main .tabela-mobile div button {
    background-color: #FEE64E;
    color: #4D1354;
    cursor: pointer;
    transition: 0.5s;
    border-color: transparent;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 1rem 0;
  }
}

.footer {
  display: none;
}

@media (max-width: 800px) {
  .footer {
    display: contents;
  }
  .footer ul {
    display: flex;
    gap: 1rem;
  }
  .footer ul li {
    list-style: none;
    margin: 2rem auto;
  }
  .footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FEE64E;
  }
}

/*# sourceMappingURL=style.css.map */
